.contenedor{
    grid-template-columns: 370px 370px 370px 370px 370px;
    grid-template-rows: 200px 50px 700px 50px;
    display: grid;
    grid-template-areas:
    'enc enc enc enc enc '
    'enl enl enl enl enl'
    'form con con con info'
    'pie pie pie pie pie'
    ;
}
.encabezado{
    grid-area: enc;
  
}
.enlaces{
    grid-area: enl;
    background-color: cornflowerblue;
    text-align: center;

    
}
.formulario{
    grid-area: form;
    background-color: dodgerblue;
}
.contenido{
    grid-area: con;
    background-color: coral;
    text-align: center;
}
.informacion{
    grid-area: info;
    background-color: darkseagreen;
}
footer{
    background-color: black;
    grid-area: pie;
}
img{
width: 1850px;
height: 990px;
}
#img2{
    width: 600px;
    height: 600px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}